.mail-btn{
  background:#111;
  color:#fff;
  padding:12px 25px;
  border-radius:6px;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}

.mail-btn:hover{
  background:#ff6600;
}
